{% extends 'common/index.html' %}{% load static %}
{% block css %} 
{% endblock css %}
{% block title %} Insert data {% endblock title %}

{% block content %}
    <main class="userhome container">
        <br>
        <form action="" method="POST" novalidate enctype="multipart/form-data">
            <h1 class="text-center">Insert Your data</h1>
            {% csrf_token %}

            {% for frm in form %}
                {{frm.label_tag}} {{frm}} {{frm.errors | striptags}} <br>
            {% endfor %}

            <input type="submit" value="Submit">
        </form>
        <section>
            <h1 class="text-center">All data are shown</h1>
        <table class="table table-primary p-2">
            <tr>
                <th>Serial</th>
                <th>Name</th>
                <th>Email</th>
                <th>Topic</th>
                <th>Explainations</th>
                <th>Images</th>
                <th>Actions</th>
            </tr>
            {% for data in dataset %}
               <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.topic}}</td>
                    <td>{{data.describe}}</td>
                    <td><img src="/media/{{ data.field }}" alt="dfgdfgdfg" class="img-fluid"></td>
                    <td><a href="/crud/update/{{data.id}}/">Update</a> | <a href="/crud/delete/{{data.id}}/">Delete</a></td>
               </tr>
            {% endfor %}
        </table>
        </section>
    </main>
{% endblock content %}